@model IEnumerable<PruebaItehl_DeyvidMartinez.Models.Ciudad>
@Styles.Render("~/Content/Bootstrap.css")
@Styles.Render("~/Content/EstilosIndex.css")
@Styles.Render("~/Content/estilos.css")
@Styles.Render("~/Content/Site.css")
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Ciudades</title>
</head>
<body class="fondotabla">
    <br />
    <br />
    <div class="titulo-index">
        <h1 class="col-sm-6">CIUDADES</h1>
    </div>
    <hr />
    <div class="container">
        <table class="tabla-index table-hover table-dark">
            <tr class="bg-warning text-white text-center">
                <th style="border: none;">
                    @Html.DisplayNameFor(model => model.Ciud_Nom)
                </th>
                <th style="border: none;"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="text-center col-xl-6 col-sm-4">
                    <td>
                        @Html.DisplayFor(modelItem => item.Ciud_Nom)
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-warning">@Html.ActionLink("Editar", "Edit", new { id = item.Ciud_Id })| </button>
                            @*<button type="button" class="btn btn-warning">@Html.ActionLink("Detalles", "Details", new { id = item.Ciud_Id })</button>*@
                            <button type="button" class="btn btn-warning">@Html.ActionLink("Eliminar", "Delete", new { id = item.Ciud_Id })</button>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <div style="align-content:center">
            <a href="~/Ciudads/Create"><input type="button" class="btn btn-warning centrar-contenido" value="Crear Ciudad" /></a>
            <a href="~/Home/Index"><input type="button" class="btn btn-warning centrar-contenido" value="Regresar" /></a>
        </div>

    </div>
</body>
