@model PruebaItehl_DeyvidMartinez.Models.Modalidad
@Styles.Render("~/Content/Bootstrap.css")
@Styles.Render("~/Content/EstilosIndex.css")
@Styles.Render("~/Content/estilos.css")
@Styles.Render("~/Content/Site.css")
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Eliminar Modalidad</title>
</head>
<body class="fondotabla">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="titulo-detalles">
                    <h1>¿Quieres eliminar esta Modalidad?</h1>
                </div>
                <hr />
                <br />
                <div class="row">
                    <div class="col-sm-6" style="left:25%">
                        <table class="tabla-detal-inscp">
                            <tr><th><b>@Html.DisplayNameFor(model => model.Moda_Nom)    </b></th><td>@Html.DisplayFor(model => model.Moda_Nom)</td></tr>
                        </table>
                        <br />
                        <hr />
                        <br />
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row" style="left:-20px">
                                <div class="form-actions col-sm-6">
                                    <input type="submit" value="Eliminar" class="btn btn-default" />
                                </div>
                                <div class="col-md-6">
                                    <a href="~/Modalidads/Index"><input type="button" class="btn btn-warning centrar-contenido" value="Volver" /></a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>