@model PruebaItehl_DeyvidMartinez.Models.Modalidad
@Styles.Render("~/Content/Bootstrap.css")
@Styles.Render("~/Content/EstilosIndex.css")
@Styles.Render("~/Content/estilos.css")
@Styles.Render("~/Content/Site.css")
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Editar Modalidad</title>
</head>
<body class="fondotabla">
    <div class="container col-sm-7">
        <div class="titulo-editar">
            <h1>Editar Modalidad</h1>
        </div>
        <hr />
        <div class="centrar-contenido texto-contenido" style="left:5%">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Moda_Id)
                <div class="row">
                    <div class="col-sm-12">
                        @Html.LabelFor(model => model.Moda_Nom, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Moda_Nom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Moda_Nom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <hr />
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-default" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="col-sm-5">
                                <a href="~/Modalidads/Index"><input type="button" class="btn btn-warning centrar-contenido" value="Volver" /></a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>
</body>